* {
  margin: 0;
  padding: 0;
}

#sidebar {
  width: 160px;
  top: 0;
  bottom: 0;
  background-color: rgba(128, 128, 128, 0.72);
  display: block;
  position: fixed;
}

div ul {
  margin-top: 100px;
  border: 2px solid white;
  padding: 10px;
  list-style: none;
}



div li a {
  padding-bottom: 30px;
  color: white;
  text-decoration: none;
  font-size: 20px;
  font-family: monospace;
  margin-left: 20px;
  font-weight: bold;
}

div li a:hover {
  color: black;
}

#home {
  border: none;
}

header {
  font-size: 30px;
  text-align: center;
  font-family: monospace;
  margin-bottom: 150px;
  margin-left: 50px;
}

p {
  margin-top: 50px;
  text-align: center;
  font-size: 20px;
  font-family: monospace;
  background-color: rgba(158, 158, 158, 0.32);
  display: block;
  width: 60%;
  position: relative;
  left: 20%;
}



.pager {
  position: relative;
  left: 45%;
  bottom: 0px;
  margin-top: 100px;
  margin-bottom: 50px;
}

.pager a {
  background-color: rgba(128, 128, 128, 0.72);
  margin-left: 20px;
  text-decoration: none;
  font-weight: bold;
  font-size: 20px;
  font-family: monospace;
  color: white;
  border: 2px solid black;
}

.pager a:hover {
  color: black;
}

figcaption {
 text-align: center;
 font-size: 15px;
 font-weight: bold;
 font-family: monospace;
}

section > p {
  background-color: rgba(208, 14, 73, 0.24);
  text-align: left;
}

pre {
  background-color: rgba(208, 14, 73, 0.24);
  text-align: left;
  margin-top: 30px;
  font-size: 20px;
  font-family: monospace;
  display: block;
  width: 60%;
  position: relative;
  left: 20%;
}

.keywords {
  color: rgba(208, 14, 73, 0.72);
  font-weight: bold;
}

img {

  margin-top: 20px;
  display: inline-block;
}

.icons{
  position: fixed;
  top: 10px;
  right: 50px;
}


.icons img {
  width: 40px;
  height: 40px;
  z-index: 3;
}

.original {
  width: 330px;
  height: 420px;
}

.square {
  width: 500px;
  height: 400px;
}

/*#office {
  opacity: 0.2;
  transition: opacity 1s;
}

#office:hover {
  opacity: 1.0;
  transition: opacity 1s;
}*/

#bg {
  position: fixed;
  z-index: -1;
  top: -25px;
  left: 0;
  opacity: 0.4;
  /* Preserve aspet ratio */
  min-width: 100%;
  min-height: 140%;
}